html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#torsion-analyzer-app {
    /* the NGL has issues with flex and calculating its size */
    overflow: hidden;
}

tr.highlight {
    color: #007bff;
}

.torsion-plot {
    text-align: center;
}

.copy-button {
    margin-right: 5px;
}